.flip-card {
    cursor: pointer;
    width: 400px;
    height: 250px;
    perspective: 1000px;
    background-color: red;
    color: white;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}


.Card-front {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1em;
}

.Card-back {
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1em;
    transform:rotateY(180deg);
    
}

.chip {
    position: absolute;
    top: 2em;
    left: 1.5em;
    width: 50px;
}

.Label {
    font-size: 15px;
    color:#7d8999;
    margin-bottom: 0;
}

.Card-front .groups .Number,
.Card-front .groups .Name,
.Card-front .groups .Expiration {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
}